.item {
  position: center;
}

img{
  margin-left:auto;
  margin-right:auto;
}
.carousel-inner{
  background-color:black;
}

.jumbotron{
  color:#003399;
}

.wrapper{
  text-align:center;
}

a{
  text-decoration: none;
  color:white;
}

h3{
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 60px;
}
